.flexRow--main__container {
  background-color: #f5f4f6;
}

.flexColChild--descounts__likes--row1 {
  /* background-color: #1d2734; */
  border-radius  : 4px;
  border         : 1px;
  width          : 100%;
  display        : flex;
  align-items    : center;
  justify-content: space-around;
  gap            : 10px;
  padding        : 6px 12px;
}

.flexCol--descounts__likes--row1 {
  height         : 32px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  padding-bottom : 10.66px;
}

.flexCol--link__never__say {
  width : 95px;
  margin: 4px;
}

.flexCol--link__cyber__monday {
  width : 85px;
  margin: 4px;
}

.flexCol--link__ofertas {
  width : 81px;
  margin: 4px;
}

.flexCol--link__coleccion {
  width : 105px;
  margin: 4px;
}

.flexCol--link__tendencias {
  width : 144px;
  margin: 4px;
}

.flexRow--header__spacer {
  width           : 1280px;
  height          : 56px;
  background-color: #ffffff;
  margin-bottom   : -1px;
}

.flexRowContent--top__header {
  display      : flex;
  align-items  : center;
  padding-left : 50px;
  padding-right: 50px;
  max-width    : 1280px;
}

.flexRow--Slider__cointeiner {
  width           : 100%;
  height          : 420px;
  margin-bottom   : 0px;
  margin-top      : 0px;
  background-color: #f5f4f6;
}

.flexRow--Slider2__container {
  background-color: #f5f4f6;
  margin-bottom   : 0px;
  height          : 428px;
}

.flexCol--full__card {
  border-radius   : 12px;
  width           : 324px;
  background-color: white;
}

.flexRow--card--button {
  display        : flex;
  justify-content: center;
}

.flexCol--product--card {
  height : 378px;
  width  : 212px;
  gap    : 24px;
  z-index: 1;
}

.flexRow--row__one {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-top     : 20px;
}

.flexRowContent--row__one {
  display        : flex;
  justify-content: space-between;
}

.flexRow--Description--container {
  position  : relative;
  z-index   : 2;
  margin-top: -120px;
  /*****negativo******/
  height    : 212px;
}

.flexRow--old__price--container {
  margin-top: -165px;
}

.flexRow--Actual__price--container {
  margin-top: -25px;
}

.flexRow--row__six--container {
  display           : flex;
  /* justify-content: flex-start; */
  margin-top        : -35px;
  align-items       : center;
  align-items       : flex-end;
  justify-content   : flex-start;
  width             : 100%;
  height            : auto;
}

.flexRowContent--row__six--container {
  display    : flex;
  align-items: center;
}

.flexRow--button_buy--container {
  margin-top: 10px;
}

/********************/
.flexRowContent--row__one--images {
  background-color: #f0f0f2;
}

.flexRow--row__one--text {
  display        : flex;
  justify-content: space-between;
  align-items    : stretch;
  width          : 100%;
  margin         : 0;
  padding        : 0;
}

/* .flexColContent--col__one--text {
  background-color: #f0f0f2;
} */
.flexRowContent--slider-item {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-between;
  border-radius  : 12px;
  /* width       : 100%; */
  height         : 324px;
  width          : 336px;
  height         : auto;
  /* 100%; */
  margin         : 8px;
  margin-top     : 20px;
  margin-bottom  : 0px;
  overflow       : hidden;
}

.flexColChild--col_center-text-img {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  /**/
}

.flexCol--col__center__img-hero {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.flexRow {
  max-width: 1280px;
  
  width    : 100%;
  
  margin   : 0 auto;

  overflow : hidden;

}

/****   mobile   ***/
.flexRowContent--main-header-mobile {
  display         : flex;
  align-items     : center;
  background-color: #ffffff;
}

.flexRowContent--row__one_mobile--text {
  background-color: #f0f0f2;
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.flexColChild--col_center__mobile-imgs {
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
  width          : 100%;
}

.flexCol--col_center__img__txt-imgs {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.flexColChild--link__text {
  margin-left : 5px;
  margin-right: 5px;
}

.flexRowContent--mobile__subtitle--container {
  background-color: #f5f4f6;
  margin-top      : 25px;
  margin-bottom   : 5px;
}

/*********  HEADER  *************/
.flexRow--flex-layout--header__row__bottom {
  background-color: #ffff;
  height          : 56px;
  max-width       : 1280px;
  margin-top      : -9px;
}

/* <768 phone tablet 1024 por ser mobile use tablet */
@media (max-width: 1024px) {
  .flexRow--flex-layout--header__row__bottom {
    width: 360px;
  }
}

.sliderTrackContainer--slider-layout-row__bottom--header {
  width      : 1136px;
  margin-left: 72px;
}

@media (max-width: 1024px) {
  .sliderTrackContainer--slider-layout-row__bottom--header {
    width      : 344px;
    margin-left: 16px;
  }
}


/* .slideChildrenContainer--slider-layout-row__bottom--header{
  width: 72px;
}
.slide--slider-layout-row__bottom--header--visible{
  width:72px;
}
.lide--slider-layout-row__bottom--header--firstVisible{
  width:72px;} */