.styledLinkContent--subtitle__menu-item {
    color      : #1D2734;
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    text-align : left;


}

.submenuWrapper--submenu__main--categories {
    background-color: #ffff !important;
}

.styledLinkContent--main__title--menu {
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 600;
    line-height: 17.5px;
    text-align : left;
    color      : #1D2734;
    /* var(--text-main) */

}

.menuItem--subtitle__menu-item--isOpen {
    background : #FF832433;
    border-left: 4px solid #FF8324;

    /* background-color: antiquewhite; */
}