.styledLinkContent--subtitle__menu-item {
    color      : red;
    /* #1D2734; */
    font-family: "Lexend", Courier, monospace;
    font-size  : 14px;
    font-weight: 600;
    line-height: 17.5px;
    text-align : left;

}