.flexRowContent--Elements__row2--header {
    display: flex;
}

.flexRow--top__header {
    background-color: white;
}

.flexRow--Elements__row2--header {
    background-color: #ffffff;
    width           : 100%;
    height          : 56px;
    margin-top      : -8px;
}

