.link--link__full--text {
    color          : #1d2734;
    font-family    : "lexend";
    font-weight    : 400;
    font-size      : 12px;
    line-height    : 15px;
    text-align     : right;
    text-decoration: none;
}