.imageElement--image-element {
  width: 324px;
  height: 187px;
}
.image-element-middle {
  width: 324px;
  height: 79.19px;
}
.image-element-bottom__Card {
  width: 324px;
  height: 43px;
}
.container {
  background-color: #f6f6f6;
}
.wrapper--subtitle--text {
  color: #1d2734;
  font-size: 16px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  margin-left: 15px;
}
