.flexRowContent--row__one--images {
  background-color: #f0f0f2;
}
.flexRow--row__one--text {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flexColContent--col__one--text {
  background-color: #f0f0f2;
}
.flexRowContent--slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  /* width: 100%; */
  height:324px;
  width: 336px;
  height: auto; /* 100%; */ 
  margin: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.flexColChild--col_center-text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /**/
}
.flexCol--col__center__img-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/***mobile**/
.flexRowContent--row__one_mobile--text {
  background-color: #f0f0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColChild--col_center__mobile-imgs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.flexCol--col_center__img__txt-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColChild--link__text {
  margin-left: 5px;
  margin-right: 5px;
}
