.imageElement--likes__Product--images {
  width: Hug (44px) px;
  height: Hug (32px) px;
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #f5f4f6;
}

.imageElement--image-element {
  width: 324px;
  height: 187px;
}
.image-element-middle {
  width: 324px;
  height: 79.19px;
}
.image-element-bottom__Card {
  width: 324px;
  height: 43px;
}
.wrapper--subtitle--text {
  color: #1d2734;
  font-size: 16px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  margin-left: 5px;
}
.imageElementLink--buy--button {
  gap: 7.5px;
  padding: 7.59px;
}
.imageElement--flash__icon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
