.wrapper--text--title {
  font-weight: bold;
  color: #1d2734;
  margin-left: 15px;
}
.wrapper--text--description {
  color: #1d2734;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.52px;
  text-align: left;
  margin-left: 15px;
}
