.sliderLayoutContainer--slider {
  padding: 20px;
  margin-bottom: 25px;
}
.sliderLayoutContainer--slider--cards_img {
  /*   display:flex;
  flex-direction:row;
  align-items: center;
  position: relative; */
  padding-right: 40px;
  padding-left: 40px;

}
.item-inline {
  display: inline-block;
}

/*****************/

.slide--slider-home__infoCards {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.sliderTrackContainer--home-slider {
  width: 1092px;
  height: 640px;
  margin: 0 auto;
  top: 663px;
  left: 94px;
  gap: 24px;
  opacity: 1;
}
.paginationDotsContainer--slider--cards_img {
  display: flex;
  align-items: center;
}
.sliderLayoutContainer--slider{
  display: flex;
  align-items: center;
}

.paginationDot {
  background: linear-gradient(to top, grey 50%,transparent 50%);
  border-radius: 0;
  height: px;
  width: 30px;
  margin: 0 5px;
  z-index: 1;
}
.paginationDot--isActive {
  background-color: black;
  border-radius: 50%;
  height: 6px;
  width: 50px;
  z-index: 2;
}
