@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), url("assets/fonts/Roboto/Roboto-Bold.ttf"),
    url("assets/fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  src: url("assets/fonts/Roboto/Roboto-Black.ttf"),
    url("assets/fonts/Nexa-Heavy.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url("assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  src: url("assets/fonts/Lato/Lato-Black.ttf"),
    url("assets/fonts/Lato/Lato-BlackItalic.ttf"),
    url("assets/fonts/Lato/Lato-Bold.ttf");
}
